.document {
  margin: 20px 0px 20px 0px;
  width: 400px;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 160px auto;
}
.document .left {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbb;
}
.document .right {
  padding-left: 10px;
  grid-row: 1;
  grid-column: 2;
  color: #888;
  font-size: 1rem;
}

.pdf {
  border: 2px solid #b45;
  color: #b45;
  border-radius: 4px;
  padding: 35px 20px;
}
.qrCodeContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0.5em;
}

.signature-line {
  display: flex;
  background: var(--ion-color-success);
  padding: 0.2em;
}
.signature-ok,
.signature-ko {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 5px;
  color: #fff;
  margin-right: 10px;
}
.signature-ok {
  background: #4b5;
}
.signature-ko {
  background: #b45;
}

.SignatureRequiredBtn {
  margin-bottom: 2em;
  height: 4em;
  margin-left: 0;
  --border-radius: 0;
}

.FloatingBottomLeft {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
}

.ButtonArray {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  margin: 1em;
}
