.document {
    margin: 20px 0px 20px 0px;
    width: 400px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100px auto;
  }
  .document .left {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bbb;
  }
  .document .right {
    padding-left: 10px;
    grid-row: 1;
    grid-column: 2;
    color: #bbb;
  }

  .qrCodeContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0.5em;
  }