.document {
  margin: 20px 0px 20px 0px;
  width: 400px;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100px auto;
}
.document .left {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbb;
}
.document .right {
  padding-left: 10px;
  grid-row: 1;
  grid-column: 2;
  color: #bbb;
}

.qrCodeContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0.5em;
}

.signature-line {
  display: flex;
}
.signature-ok, .signature-ko {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 5px;
  color: #fff;
  margin-right: 10px;
}
.signature-ok {
  background: #4B5;
}
.signature-ko {
  background: #B45;
}
