ion-chip.QRContainer {
    flex-direction: column;
    width: auto;
    height: auto;
    border-radius: 0.5em;
    padding: 0.3em;
    background: #ffffff3d;
}
  
canvas.Image {
    border-radius: 0.3em;
}