.plt-ios ion-tab-bar {
    padding-top: var(--ion-safe-area-top);
}

.plt-ios ion-header ion-toolbar.noSafeAreaPaddingTop {
    padding-top: 0 !important;
}

.swiper-pagination-bullet-active {
    background: var(--ion-color-secondary);
}